* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  list-style-type: none;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.to-do-list-con {
  padding: 10vw 22vw;
}

/* btns */

.clear-button {
  width: 100%;
  border-radius: 1px;
}

.list-group-item {
  border: 1px solid black;
}

.list-header {
  border: 1px solid rgb(103, 97, 97);
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
}
